
 <p>
    <strong>Comentarista:</strong>
    <%= coment.comentarista %>
  </p>
 
  <p>
    <strong>Comentario:</strong>
    <%= coment.contenido %>
  </p>

<p>
  <%= link_to 'Borrar Comentario', [coment.post, coment],
               method: :delete,
               data: { confirm: '¿Estás seguro?' } %>
</p>